[core]
    editor = vi
[color]
	ui = auto
    decorate = auto
[user]
	name = Jeremy Satterfield
	email = jsatt22@gmail.com
[merge]
	tool = kdiff3

[alias]
    st = status
    ci = commit
    cia = commit --all
    amend = commit --amend
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    co = checkout
    up = checkout -m
    update = up
    out = !git fetch && git log FETCH_HEAD..
    outgoing = !git fetch && git log FETCH_HEAD..
    in = !git fetch && git log ..FETCH_HEAD
    incoming = !git fetch && git log ..FETCH_HEAD
