[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle
[submodule "autoenv"]
	path = autoenv
	url = https://github.com/jsatt/autoenv.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = ./oh-my-zsh
